<div class="card">
    <div class="card-body">
        <div class="card-title">Listagem de Posts</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Titulo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunar probe project</td>
                    <td class="text-nowrap">
                        <a href="#comment" class="btn"> Novo Comentário</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>