<div class="card">
    <div class="card-body">
        <h4 class="card-title">Novo Post</h4>
        <form class="form-material m-t-40">
            <div class="form-group">
                <label>Usuário</label>
                <select class="custom-select col-12"
                    id="inlineFormCustomSelect">
                    <option selected="">Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" class="form-control form-control-line"
                    value="">
            </div>
            <div class="form-group">
                <label>Post</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success waves-effect
                    waves-light m-r-10">Enviar</button>
            </div>
        </form>
    </div>
</div>